body, html {
    height: 100%;
    margin: 0;
}

#gameArea {
    width: 100%;
    height: 100%;
    background-color: skyblue;
    overflow: hidden;
    position: relative;
}

#bird {
    width: 40px;
    height: 30px;
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
}

#ground {
    width: 100%;
    height: 100px;
    background-color: green;
    position: absolute;
    bottom: 0;
}